{% extends 'base.html.twig' %}

{% block body %}
    {# TODO faire l'iframe de la carte avec pictos #}

    <div class="container">
        <div class="row mt-5">
            <h1>{{ event.name }}</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <p>Evenement : <span style="color: #CD3C30;">{{ event.place.address }} - {{ event.eventDate| date('Y-m-d H:i') }}</span></p>
                </div>
                <div>
                    <p>Artiste : <span style="color: #CD3C30;">{{ event.artist }}</span></p>
                </div>
                <div>
                    <p>Style musical : <span style="color: #CD3C30;">{{ event.style }}</span></p>
                </div>
                <div>
                    <p>Prix : <span style="color: #CD3C30;">{{ event.price }}</span></p>
                </div>
                <div>
                    <p>Site Internet : <span style="color: #CD3C30;">{{ event.urlEvent }}</span></p>
                </div>
                <div>
                    <p>Billetterie : <span style="color: #CD3C30;">{{ event.urlTicketing }}</span></p>
                </div>
                <div>
                    <p>Description : </p>
                    <p>{{ event.description|nl2br }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div style="background-color: #d0d0d0; width: 100%; height: 100%;"></div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <div style="background-color: #d0d0d0; width: 100%; height: 150px;"></div>
            </div>
            <div class="col-md-3">
                <div style="background-color: #d0d0d0; width: 100%; height: 150px;"></div>
            </div>
            <div class="col-md-3">
                <div style="background-color: #d0d0d0; width: 100%; height: 150px;"></div>
            </div>
            <div class="col-md-3">
                <div style="background-color: #d0d0d0; width: 100%; height: 150px;"></div>
            </div>
        </div>
        {{ form_start(form) }}
        {{ form_row(form.content) }}
        <div class="text-right">
            <button type="submit" class="btn btn-primary">
                Enregistrer
            </button>
        </div>
        {{ form_end(form) }}
    </div>

    {{ form_start(form) }}
    {{ form_row(form.content) }}
    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
    </div>
    {{ form_end(form) }}

    <div>
        {% for comment in comments %}
            <p>Par {{ comment.author }} le <em>{{ comment.publicationDate|date('d/m/Y H:i') }}</em> :</p>
            <p>{{ comment.content|nl2br }}</p>
            <hr>
        {% endfor %}
    </div>

{% endblock %}
