{% extends 'base.html.twig' %}

{% block body %}

    <div id="mediaContainer">
        <h1 class="mt-5">Gestion des événements</h1>
        <table class="table table-striped mt-3">
            <tr>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Date</th>
                <th width="350px"></th>
            </tr>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.place.address }}</td>
                    <td>{{ event.eventDate|date('d-m-Y  •  H:i') }}</td>

                    <td>
                        <a href="{{ path('app_event_addevent', {id: event.id}) }}"
                           class="btn btn-outline-primary" id="boutonImage1">
                            <img src="{{ asset('images/picto_modif.svg') }}" alt="">
                            <span>Modifier</span>
                        </a>
                        <a href="{{ path('app_admin_event_delete', {id: event.id}) }}"
                           class="btn btn-outline-danger" id="boutonImage2">
                            <img src="{{ asset('images/picto_trash.svg') }}" alt="">
                            <span>supprimer</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
