{% extends 'base.html.twig' %}

{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
{%  endblock %}

{% block body %}

    <h1 class="mt-5">Inscription</h1>

    <div class="container mt-3">

        {{ form_start(form) }}
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_row(form.firstname) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.lastname) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_row(form.pseudo) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.birthdate) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.adress) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_row(form.zipCode) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.phone) }}
            </div>
        </div>

        {{ form_row(form.email) }}

        {{ form_row(form.image) }}

        {{ form_row(form.styles) }}

        {{ form_row(form.plainPassword) }}

        <div class="row">
            <div class="col-12">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}
