{% extends 'base.html.twig' %}

{% block title %}Music's Places{% endblock %}

{% block body %}
    <h1>Ajouter un lieu</h1>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.streetNumber) }}
    {{ form_row(form.streetName) }}
    {{ form_row(form.zipCode) }}
    {{ form_row((form.town)) }}

    {{ form_row(form.lat) }}
    {{ form_row(form.lon) }}
    <p>En cas de soucis de localisation, <a href="https://www.coordonnees-gps.fr/" target="_blank">cliquez ici</a> !</p>
    {% if place.id is null %}
        {{ form_row(form.owner) }}
    {% endif %}
    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
    </div>
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/addPlace.js') }}"></script>
{% endblock %}


